.container {
  display: flex;
  flex-direction: row;
  height: 60vh;
  justify-content: center;
  align-content: center;
}

.login,
.registration {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.registration_container,
.login_container {
  display: flex;
}

.controls {
  display: flex;
  justify-content: center;
}
