.container {
  display: flex;
  flex-direction: row;
  height: 60vh;
  justify-content: space-evenly;
  align-content: center;
}

.login,
.registration {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.registration_container,
.login_container {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-evenly;
}

.form_title {
  color: #b48608;
  font-family: 'Droid serif', serif;
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
  line-height: 44px;
  margin: 0 0 12px;
  text-align: center;
}
