<div class="container">
  <div class="login_container">
    <form [formGroup]="loginForm" class="login">
      <mat-form-field>
        <input
          #loginEmail
          matInput
          required
          placeholder="email"
          formControlName="email"
        />

        <mat-error [hidden]="!error">
          Your email is invalid
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          #loginPassword
          matInput
          required
          type="password"
          placeholder="password"
          formControlName="password"
        />

        <mat-error> Error: {{ getErrorMessage('password') }} </mat-error>
      </mat-form-field>
      <mat-checkbox [formControl]="loginForm.get('rememberUser')"
        >Remember me</mat-checkbox
      >
    </form>
  </div>
  <div class="registration_container">
    <form [formGroup]="registerForm" class="registration">
      <mat-form-field>
        <input
          #userName
          matInput
          required
          placeholder="name"
          formControlName="name"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          #registerEmail
          matInput
          required
          placeholder="email"
          formControlName="email"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          #registerPassword
          matInput
          required
          type="password"
          placeholder="password"
          formControlName="password"
        />

        <mat-hint>
          Pass must be 4 of more elements
        </mat-hint>

        <mat-error> Error: {{ getErrorMessage('password') }} </mat-error>
      </mat-form-field>
    </form>
  </div>
</div>
<div class="controls">
  <button
    mat-flat-button
    color="primary"
    [disabled]="!loginPassword.value || !loginEmail.value"
    (click)="login(loginEmail.value, loginPassword.value)"
  >
    Login
  </button>
  <button
    mat-flat-button
    color="accent"
    [disabled]="!registerPassword.value || !registerEmail.value"
    (click)="
      register(userName.value, registerEmail.value, registerPassword.value)
    "
  >
    register
  </button>
</div>
