.task_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.task_comment {
  display: flex;
  width: 80%;
  justify-content: space-around;
  border: 3px solid rgb(75, 43, 216);
}
.task_title {
  text-align: center;
}
.comments_container {
  display: flex;
}
.create_comment__form {
  margin-left: 25px;
}
