<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <span class="home_icon" (click)="backHome()">Trollo</span>
    <mat-icon>build</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<div class="board_view">
  <div *ngFor="let column of this.board.columns">
    <mat-card class="board_column">
      <form [formGroup]="columnTitleForm" class="board_title">
        <mat-form-field class="board_title__input">
          <input
            #columnTitle
            matInput
            required
            value="{{ column.title }}"
            formControlName="title"
          />
        </mat-form-field>
      </form>
      <mat-icon
        (click)="updateColumnTitle(column._id, columnTitle.value)"
        class="change_column__title"
        >edit</mat-icon
      >
      <mat-icon (click)="deleteColumn(column._id)" class="delete_column__btn"
        >delete</mat-icon
      >
    </mat-card>

    <div class="column__tasks_container">
      <div class="column__task" *ngFor="let task of column.tasks">
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-description>
              <form [formGroup]="taskTitleForm" class="board_title">
                <mat-form-field class="board_title__input">
                  <input
                    #taskTitle
                    matInput
                    required
                    value="{{ task.task }}"
                    formControlName="title"
                  />
                </mat-form-field>
              </form>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="column_task__controls">
            <button mat-flat-button (click)="openTask()">
              Open Task
            </button>
            <button
              mat-flat-button
              (click)="updateTask(task._id, taskTitle.value)"
            >
              Rename
            </button>
            <button mat-flat-button (click)="deleteTask(task._id)">
              Delete
            </button>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</div>
